/**
* @Author: callback
* @Date:   2016-09-23T17:28:22+08:00
* @Email:  heuuLZP@gmail.com
* @Last modified by:   callback
* @Last modified time: 2016-09-26T18:58:26+08:00
*/
html,body{
  padding:0;
  margin: 0;
  height:100%;
  font:16px/1.5;
  color:#333;
  background:#f5f5d5;
}
ul{
  margin: 0;
  padding: 0;
}
a{
  color:#ff9999;
}
#main{
  position:relative;
  width: 80%;
  min-height: 95%;
  margin: 0 auto;
}
.content{
  margin-top: 20px;
  padding-left: 100px;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
h1{
  margin: 0;
}
/*
右上角的navbar
 */
nav{
  margin-left: 50%;
}
nav ul{
  list-style: none;
}
header,nav,nav ul li{
  display: inline-block;
}
nav ul li{
  margin-right: 25px;
}
nav ul li a{
  font-size: 18px;
}
.article-list{
  list-style: none;
}
.article-list li a{
    font-size: 22px;
}
