<!--
@Author: callback
@Date:   2016-09-23T16:07:02+08:00
@Email:  heuuLZP@gmail.com
@Last modified by:   callback
@Last modified time: 2016-09-27T10:18:13+08:00
-->
<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" href="./style/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="./style/css/home.css">
　　　　<title>{{ page.title }}</title>
　　</head>
　　<body>
      <div id="main">
        <!--<header>
          <h1>雾都孤儿</h1>
        </header>-->
        <nav role="navigation">
          <ul>
            <li><a href="/categary">分类</a></li>
            <li><a href="/tag">标签</a></li>
            <li><a href="/about">关于</a></li>
          </ul>
        </nav>
        <div class="content">
          {{ content }}
        </div>
        <footer>
          <p>
            @copy; 刘志鹏 2016-09 | All Rights Reserved.
          </p>
        </footer>
      </div>
　　</body>
　　</html>
