<!--
@Author: callback
@Date:   2016-09-23T16:07:02+08:00
@Email:  heuuLZP@gmail.com
@Last modified by:   callback
@Last modified time: 2016-10-14T18:42:47+08:00
-->
<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" href="./style/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="./style/css/home.css">
      <script src="./style/bootstrap/js/jquery-1.11.1.min.js"></script>
      <script src="./style/bootstrap/js/bootstrap.min.js"></script>
　　　　<title>{{ page.title }}</title>
　　</head>
　　<body>
      <div id="main">
        <nav>
          <div class="container-fluid">
            <div class="row header">
              <div class="col-md-2 col-xs-2"></div>
              <div class="col-md-3 col-xs-10">
                <h1>mine</h1>
              </div>
              <div class="col-md-2 col-xs-5"></div>
              <div class="col-md-5 col-xs-7">
                <!--<div class="collapse navbar-collapse" id="main-nav-collapse">-->
                  <ul class="nav navbar-nav line">
                    <li><a href="./category1.html">标签</a></li>
                    <li><a href="./spirits.html">心情</a></li>
                    <li><a href="#">绘画</a></li>
                    <li><a href="#">关于</a></li>
                  </ul>
                <!--</div>-->
              </div>
            </div>
          </div>
        </nav>
        <div class="content">
          {{ content }}
        </div>
        <footer>
          <p>
            @copy; 刘志鹏 2016-09 | All Rights Reserved.
          </p>
        </footer>
      </div>
      <script>
        $(document).ready(function(){
          var mh = $("body").height(),wh;
          window.onresize = function(){
            wh = $(window).height();
            if (mh > wh){
              $("footer").css({"position":"static","margin":"50px 10% 0 10%"})
            }else{
              $("footer").css({"position":"absolute","margin-top":"0","bottom":"15px","left":"10%"})
            }
          }
        })
      </script>
　　</body>
　　</html>
